h1 {

    margin-right: auto;
    margin-left: auto;
    font-size: large;
    text-align: center;


}

h2 {

    margin-right: auto;
    margin-left: auto;
    font-size: medium;
    text-align: center;
}