
/* Center align the headers */

h1 {

    margin-right: auto;
    margin-left: auto;
    font-size: large;
    text-align: center;


}

h2 {

    margin-right: auto;
    margin-left: auto;
    font-size: medium;
    text-align: center;
}

/* Modify the question buttons */

.question {

    border: 2px solid purple;
    background-color: seashell;
    border-radius: 12px;


}

/* Allow the buttons to change when the user hovers over them */

.question:hover {

    color:white;

    transition-duration: 0.4s;
    background-color: purple;
}

